<header>
    <nav>
        <div class="nav_items">
            <a class="nav_link" href="/posts">Myface</a>
            <a class="nav_link" href="/posts">Posts</a>
            <a class="nav_link" href="/users">Users</a>

        </div>
    </nav>
</header>