<nav>
    <h5>Myface</h5>
    <div class="nav_items">
        <a class="nav_link" href="/posts">Home</a>
        <a class="nav_link" style="color:#2985FF" href="/posts">Posts</a>
        <a class="nav_link" href="/users">Users</a>
    </div>
    <a class="nav_new" href="/posts/create/">+ New Post</a>
</nav>