<html lang="en-gb">
<header><%- include('_head') -%>
        <nav><%- include('_header') -%></nav>
</header>
<main>
    <h1>Create Post</h1>

    <form method="post" action="/posts/create">
        <label>
            <b>Message:</b>
            <input type="text" name="message" required="required" />
        </label>
        <label>
            <b>imageUrl:</b>
            <input type="url" name="imageUrl" required="required" />
            <button type="submit">Submit</button>
    </form>
</main>
<footer><%- include('_footer') -%></footer>

</html>