<html lang="en-gb">
<header><%- include('_head') -%>
        <nav><%- include('_header') -%></nav>
</header>

<body>
    <h1>
        <%= name %>
    </h1>
</body>
<footer><%- include('_footer') -%></footer>

</html>