/* Add your styles here. */

html {

    padding: 0;
    background-color: #252A38;

}

header {
    margin: 0;
    background-color: #151820;
}

body {
    padding: 0;
    margin: 0;
}

nav {
    margin-left: 50px;
    margin-right: 50px;
    width: 275px;
    height: 50px;
    padding: 0;
    background-color: #151820;
    display: flex;
    align-items: center;

    justify-content: space-between;

    font-size: 10px;
}

nav h5 {
    color: white;
    font-size: 10px;
    display: inline;
    padding: 0;

    margin: 0
}

.nav_items {
    display: flex;

    justify-content: space-between;






}

.nav_new {
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 10px;
    color: white;
    display: inline;
}

ol {
    text-decoration: none;
    padding: 15px;
}



main {


    position: relative;

    margin-left: 50px;
    margin-right: 50px;
    height: 600px;
    width: 375px;

}



.nav_link {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}



#like:hover {
    background-color: green;

}

#dislike:hover {
    background-color: red;
}

/* @media (max-width: 320px) {

    html {
        background-color: rgb(60, 90, 60);

    }

    .nav_link {
        color: white;
    }
} */


.posts {

    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(2, 70px);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin-bottom: 30px;


}




.user {
    height: 130px;
    position: relative;
    margin: 0;
    width: 100%;



}

.coverImage {
    height: 100px;
    width: 275px;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    z-index: -2;


}

.opaque {
    background-color: #252A38;
    opacity: 0.56;
    width: 275;
    height: 20px;
    position: absolute;
    top: 80px;
}

.profile {
    height: 50px;
    width: 275px;
    display: flex;
    top: 75px;
    padding: 5px;
    margin-left: 40px;
    position: absolute;

}

.profile_image {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 30px
}

.profile_name {
    font-size: 2em;
}

.profile_body {

    font-size: 0.5em;
    color: white;
    margin-top: 0;
    margin-left: 50px;
}

.profile_body p {
    margin: 0;
    padding: 0;
}

.posts_types {
    font-size: 0.3em;
    color: white;
}

.card {

    width: 70px;
    height: 70px;
    background-color: #151820;
    margin-bottom: 30px;
    overflow: scroll;

}

.card_image {
    height: 35px;
    width: 70px;
}

.card_body {
    width: 70px;
    height: 35px;
    margin-bottom: 20px;
}

.card h4 {
    font-size: 0.1em;
    color: white;
}

.card p {
    font-size: 0.1em;
    color: white;
}

.load_button {
    color: #2985FF;
    border: 1px solid #2985FF;
    width: 60px;
    height: 15px;
    font-size: 0.2em;
    background-color: #252A38;
    margin: 0;
    padding: 0
}

.date {
    color: grey;
    font-size: 0.1em;
}